@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Noto+Sans:wght@300&family=Nunito:ital,wght@0,200;0,300;0,700;1,400;1,600&family=Playfair+Display:wght@400;700&family=Playfair:ital,opsz,wght@0,5..1200,300;1,5..1200,300&family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

